<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Covid 19 Tracking App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-5">Covid Cases Reposted in India</h1>
        <div class="container">
            <div class="header">
                <h3 class="text-center">State List</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>State Name</th>
                            <th>State Code</th>
                            <th>Total Cases</th>
                            <th>Total Active</th>
                            <th>Total Recovered</th>
                            <th>Total Deaths</th>
                            <th>Newly repoted Cases</th>
                            <th>Newly repoted Recovered </th>
                            <th>Newly repoted Deaths </th>
                        </tr>
                    </thead>
                    <tbody id="data">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/script.js"></script>
</html>